<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Subir Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form #videoForm="ngForm">
    <ion-list [inset]="true">
      <ion-item>
        <!-- Agregamos un input tipo 'file' oculto -->
        <!--<input type="file" accept="video/*" (change)="onFileSelected($event)" style="display: none" id="fileInput">-->
        <!-- Agregamos un botón visible que actúa como un activador del input 'file' -->
          <ion-input  fill="outline" shape="round"  id="input" type="file" (change)="onFileSelected($event)" accept="video/*"></ion-input>
        </ion-item>
       <!-- <ion-button color="light" (click)="openFileInput()" (change)="onFileSelected($event)">Seleccionar Archivo</ion-button>-->
       <!--</ion-item> -->
      <ion-item>
        <ion-input name="title" [(ngModel)]="title" label="Titulo de video" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="hashtag" [(ngModel)]="hashtag" label="Agrega un Hashtag" placeholder="#" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true">
      <ion-item>
        <ion-textarea
          name="description"
          [(ngModel)]="description"
          label="Descripcion"
          labelPlacement="floating"
          rows="5"
          required
          maxlength="50"
          (input)="checkMaxLength($event)"
        ></ion-textarea>
      </ion-item>
      <ion-item lines="none" *ngIf="description !== undefined && description !== null">
        <ion-label>{{ description.length }} / 50 caracteres</ion-label>
        <ion-label color="danger" *ngIf="exceededLimit">¡Límite de caracteres excedido!</ion-label>
      </ion-item>
    </ion-list>



    <ion-note color="medium" class="ion-margin-horizontal">
      Sus comentarios se mantendrán anónimos y solo se utilizarán para mejorar la confiabilidad de nuestros productos.    </ion-note>

    <ion-button color="success" style="display: flex; align-items: center; justify-content: center;" (click)="subirVideo(videoForm)" [disabled]="!isFormValid()">
      Subir Video
      <ion-icon name="arrow-up-circle-outline" slot="end"></ion-icon>
    </ion-button>
  </form>
</ion-content>


