<ion-content [fullscreen]="true">


  <div id="container-header">

    <div class="container-logo">
      <img src="assets/icon/Logo.png" class="logo">
    </div>
    <ion-segment value="default">
      <ion-segment-button value="segment" [routerLink]="['/login']">
        <ion-label id="color" >Iniciar Sesion</ion-label>
      </ion-segment-button>
      <ion-segment-button value="default" [routerLink]="['/registrer']">
        <ion-label id="color">Crear Cuenta</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
    <ion-card>
      <ion-card-header>

<div id="j">
  <ion-icon name="person-circle-sharp"></ion-icon>
  <ion-item>
  <ion-input  fill="outline" shape="round"  id="input" type="file" (change)="onFileSelected($event)" accept="image/*"></ion-input>
</ion-item>
  <h3>Subir foto</h3>
</div>
     <ion-input  [(ngModel)]="username" label="Nombre de Usuario" label-placement="floating" fill="outline" shape="round"  id="input"></ion-input>
     <ion-input [(ngModel)]="email" label="Correo Electronico" label-placement="floating" fill="outline" shape="round"  id="input"></ion-input>
     <ion-input [(ngModel)]="name" label="Nombre Completo" label-placement="floating" fill="outline" shape="round"  id="input"></ion-input>
     <ion-input [(ngModel)]="descripcion" label="descripcion" label-placement="floating" fill="outline" shape="round"  id="input"></ion-input>
     <ion-input [(ngModel)]="empleo" label="Tipo de empleo" label-placement="floating" fill="outline" shape="round"  id="input"></ion-input>
     <ion-input [(ngModel)]="estudios" label="Grado academico" label-placement="floating" fill="outline" shape="round"  id="input"></ion-input>
     <ion-input [(ngModel)]="servicios" label="Sectores de Servicio" label-placement="floating" fill="outline" shape="round"  id="input"></ion-input>
     <ion-input [(ngModel)]="password" label="Contraseña" label-placement="floating" type="password" fill="outline" shape="round" id="input"></ion-input>


     <ion-button shape="round" id="boton" id="submit" [disabled]="!isFormValid()" (click)="submit()">Registrate</ion-button>

      </ion-card-header>

      <div id="a">
        ¿Ya tienes una cuenta? <a id="link" [routerLink]="['/login']">Inicia Sesion</a>
      </div>

    </ion-card>




</ion-content>
